<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="com.hhh.fangusa.log">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<appenderRef ref="Console" />
		</Root>
		<Logger name="com.hhh.fangusa" level="DEBUG" additivity="false">
			<appenderRef ref="Console" />
			<appenderRef ref="All" />
		</Logger>
	</Loggers>
</Configuration>