<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">

    <bean id="mapProperties" class="com.hhh.fangusa.utils.ApplicationPropertiesSupport">
        <property name="resourceMap">
            <map>
                <entry key="oau" value="classpath:properties/other-app-url.properties"/>
            </map>
        </property>
    </bean>
    <bean id="appResource" class="com.hhh.fangusa.utils.AppResource">
        <property name="properties" ref="mapProperties"/>
    </bean>


</beans>