/**
 * swiper 组件
 */
.swiper-button-prev, .swiper-button-next {
  opacity: .5;
  z-index: 100;
  height: 30px;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next { 
  right: 0;
}

#hot_city_container {
  .swiper-pagination-bullet {
    margin-right: 10px;
  }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2px;
}

/**
 * advanced_search.vue  里 swatch 组件字体大小，
 */
.advanced_search {
  .el-switch__label span {
    font-size: 12px !important;
  }
}

.chart_line_container .el-tabs__content {
  display: none !important;
}