@import "variables";
@import "mixins";

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat: repeat-x;
  background-position: center 0;
  background-color: $app_bg_colol;

  .app_content {
    flex: 1;
  }
}

.container {
  width: $container_width !important;
  margin: 0 auto;

  @media screen and (max-width: $container_width) {
    width: 100% !important;
  }
}

.bg_white_container {
  width: 100%;
  height: auto;
  background: #fff;
}

.fr { float: right !important; }
.fl { float: left !important; }
.db { display: block; }
.dib { display: inline-block; }

.theme_color { color: $theme_color !important; }
.black { color: #000 !important; }
.bg_white { background: #fff !important; }

.pointer { cursor: pointer;}
.u_line { text-decoration: underline; }
.tc { text-align: center !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }
.text_ellipsis {
  @extend %text-ellipsis;
}

.pl-30 { padding-left: 30px; }
.pr-30 { padding-right: 30pxï¼› }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
