$theme_color: #0142a1;
$btn_color: #f2403e;
$app_bg_colol: #f6f6f6;
$we_color: #1AAD19;
$content_color: #657180;
$divder_color: #e3e8ee;

$z_filter: 50;
$zindex_menu_mask: 100;
$z_menu_icon: 150;
$z_menu_slide: 200;
